<!-- home.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Gaming Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/order}">Order</a></li>
            <li><a th:href="@{/order/orderdetails}">Order Details</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <h1 class="welcome-text">Welcome to Our Gaming Shop</h1>
    </div>
</body>
</html>
