<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="order">
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/products}">Products</a></li>
            <li><a th:href="@{/order}">Order</a></li>
            <li><a th:href="@{/order/orderdetails}">Order Details</a></li>
        </ul>
    </nav>  
    <div class="main-content">
        <h2>Your Order</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="product : ${order.products}">
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.productSize.displayName}"></td>
                    <td th:text="${product.productPrice}"></td>
                </tr>
            </tbody>
        </table>

        <p>Total Price: <span th:text="${order.calculateTotalPrice()}"></span></p>
        <a th:href="@{/order/orderdetails}" class="buy-now-button">Buy Now</a>
    </div>
</body>
</html>
